<div class="container bg-dark text-white">
    <form>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Numero empleado" name="id">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombre" name="nombre">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="RFC" name="rfc">
          </div>
        </div>
        <div class="row m-3">
            <div class="col-3">
                <select class="form-select">
                    <option>Activo</option>
                    <option>Inactivo</option>
                  </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-success">Buscar usuario</button>
            </div>
          </div>
      </form>
</div>